@import 'settings';
@import 'foundation';

.text-serif{
  font-family: Georgia, serif;
}

.grey-text{
  color: #ccc;
}

.m-t-0{
  Margin-top:0px;
  margin-top: 0px;
}

.m-b-0{
  Margin-bottom:0px;
  margin-bottom: 0px;
}

.m-t-1{
  Margin-top:15px;
  margin-top: 15px;
}

.m-b-1{
  Margin-bottom:15px;
  margin-bottom: 15px;
}

.bg-dark{
  background: #393a3d;
}

.offer-bg{
  background: #F8E71C;
}
